.review_hint {
    font-size: 20px;
}


.field_error {
    color: red;
}

#coupon_box {
    display: none;
}

.insta_error {
    color: red;
    font-size: 16px;
    line-height: 1.5;
    font-weight: bold;
    margin-bottom: 20px;
}

.btn-verify {
    position: relative;
    margin: 5px;
    display: flex;
    height: fit-content;
    padding: 5px 40px;
}

.flex {
    display: flex;
}

.email_verify_otp {
    display: none;
}

#email_otp_result {
    color: black;
    font-size: 18px;
}

.mobile_verify_otp {
    display: none;
}

#mobile_otp_result {
    color: black;
    font-size: 18px;
}

.cust_a {
    color: #000;
    display: block;
    text-decoration: none;
    padding: 5px 10px;
    background-color: lightsteelblue;
}

.cust_a:hover {
    color: black;
    background-color: lightgray;
}

.cust_label {
    display: block;
    margin: 10px;
    position: relative;
    font-size: larger;
    top: 24.396px;
    width: 40%;
}

.cust_label1 {
    top: 10px;
    width: 25%;
}

.hide {
    display: none;
}

.field_error_pro {
    color: red;
    position: relative;
    left: 250px;
}

.img_wid {
    width: 100px;
    height: 100px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

* {
    box-sizing: border-box;
}


.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #6F6F6F;
}

.table-bordered {
    border: 1px solid #EDF1FF;
}

.table-bordered th,
.table-bordered td {
    border: 1px solid #EDF1FF;
}

.table-bordered thead th,
.table-bordered thead td {
    border-bottom-width: 2px;
}


.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
}

.table-hover tbody tr:hover {
    color: #6F6F6F;
    background-color: rgba(0, 0, 0, 0.075);
}

.table-primary,
.table-primary>th,
.table-primary>td {
    background-color: #f2e3e2;
}

s .table-primary th,
.table-primary td,
.table-primary thead th,
.table-primary tbody+tbody {
    border-color: #e7ccc9;
}

.table-hover .table-primary:hover {
    background-color: #ead2d0;
}

.table-hover .table-primary:hover>td,
.table-hover .table-primary:hover>th {
    background-color: #ead2d0;
}

.table-secondary,
.table-secondary>th,
.table-secondary>td {
    background-color: #fafbff;
}

.table-secondary th,
.table-secondary td,
.table-secondary thead th,
.table-secondary tbody+tbody {
    border-color: #f6f8ff;
}

.table-hover .table-secondary:hover {
    background-color: #e1e7ff;
}

.table-hover .table-secondary:hover>td,
.table-hover .table-secondary:hover>th {
    background-color: #e1e7ff;
}

.table-success,
.table-success>th,
.table-success>td {
    background-color: #c3e6cb;
}

.table-success th,
.table-success td,
.table-success thead th,
.table-success tbody+tbody {
    border-color: #8fd19e;
}

.table-hover .table-success:hover {
    background-color: #b1dfbb;
}

.table-hover .table-success:hover>td,
.table-hover .table-success:hover>th {
    background-color: #b1dfbb;
}

.table-info,
.table-info>th,
.table-info>td {
    background-color: #bee5eb;
}

.table-info th,
.table-info td,
.table-info thead th,
.table-info tbody+tbody {
    border-color: #86cfda;
}

.table-hover .table-info:hover {
    background-color: #abdde5;
}

.table-hover .table-info:hover>td,
.table-hover .table-info:hover>th {
    background-color: #abdde5;
}

.table-warning,
.table-warning>th,
.table-warning>td {
    background-color: #ffeeba;
}

.table-warning th,
.table-warning td,
.table-warning thead th,
.table-warning tbody+tbody {
    border-color: #ffdf7e;
}

.table-hover .table-warning:hover {
    background-color: #ffe8a1;
}

.table-hover .table-warning:hover>td,
.table-hover .table-warning:hover>th {
    background-color: #ffe8a1;
}

.table-danger,
.table-danger>th,
.table-danger>td {
    background-color: #f5c6cb;
}

.table-danger th,
.table-danger td,
.table-danger thead th,
.table-danger tbody+tbody {
    border-color: #ed969e;
}

.table-hover .table-danger:hover {
    background-color: #f1b0b7;
}

.table-hover .table-danger:hover>td,
.table-hover .table-danger:hover>th {
    background-color: #f1b0b7;
}

.table-light,
.table-light>th,
.table-light>td {
    background-color: white;
}

.table-light th,
.table-light td,
.table-light thead th,
.table-light tbody+tbody {
    border-color: white;
}

.table-hover .table-light:hover {
    background-color: #f2f2f2;
}

.table-hover .table-light:hover>td,
.table-hover .table-light:hover>th {
    background-color: #f2f2f2;
}

.table-dark,
.table-dark>th,
.table-dark>td {
    background-color: #bfbfbf;
}

.table-dark th,
.table-dark td,
.table-dark thead th,
.table-dark tbody+tbody {
    border-color: #898989;
}

.table-hover .table-dark:hover {
    background-color: #b2b2b2;
}

.table-hover .table-dark:hover>td,
.table-hover .table-dark:hover>th {
    background-color: #b2b2b2;
}

.table-active,
.table-active>th,
.table-active>td {
    background-color: rgba(0, 0, 0, 0.075);
}

.table-hover .table-active:hover {
    background-color: rgba(0, 0, 0, 0.075);
}

.table-hover .table-active:hover>td,
.table-hover .table-active:hover>th {
    background-color: rgba(0, 0, 0, 0.075);
}

.table .thead-dark th {
    color: #fff;
    background-color: #343a40;
    border-color: #454d55;
}

.table .thead-light th {
    color: #495057;
    background-color: #e9ecef;
    border-color: #EDF1FF;
}

.table-dark {
    color: #fff;
    background-color: #343a40;
}

.table-dark th,
.table-dark td,
.table-dark thead th {
    border-color: #454d55;
}

.table-dark.table-bordered {
    border: 0;
}

.table-dark.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(255, 255, 255, 0.05);
}

.table-dark.table-hover tbody tr:hover {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.075);
}

@media (max-width: 575.98px) {
    .table-responsive-sm {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }

    .table-responsive-sm>.table-bordered {
        border: 0;
    }
}

@media (max-width: 767.98px) {
    .table-responsive-md {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }

    .table-responsive-md>.table-bordered {
        border: 0;
    }
}

@media (max-width: 991.98px) {
    .table-responsive-lg {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }

    .table-responsive-lg>.table-bordered {
        border: 0;
    }
}

@media (max-width: 1199.98px) {
    .table-responsive-xl {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }

    .table-responsive-xl>.table-bordered {
        border: 0;
    }
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.table-responsive>.table-bordered {
    border: 0;
}

.table {
    border-collapse: collapse;
    border: 1px solid black;
}

.table th,
.table td,
.table tr {
    border: 1px solid black;
}

/* Add specific column borders for the first three columns (Product Name, Product Image, Quantity) */
.table th:nth-child(),
.table td:nth-child() {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

/* Add specific column borders for the last two columns (Price, Total Price) */
.table th:nth-child(n),
.table td:nth-child(n) {
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

.align-middle {
    vertical-align: middle !important;
}